/*
Justin Jemison
DATE 08 Oct 2024
Style sheet for the index page. This included a @media to account for small 
screen sizes, the color number I am using thought out the website are Color pallet #D2E0FB, FEF9D9, DEE5D4, 8EACCD
*/

  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr .5fr 1fr;
    
  }
  
  main>h1 {
    font-size: 4rem;
    grid-column: 1 / span 2;
    text-align: center;
  }
  
  main>img{
    border-radius: 10%;
    grid-column: 3 /auto;
    width:500px;
  }
  
  .quote {
    font-size: 4rem;
    grid-column: span 5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main>section {
    grid-row: 3;
    grid-column: span 4;
    display: flex;
    justify-content: space-evenly;
  }
  
  article>img {
    width: 200px;
    border-radius: 50%;
  }
  
  article>p , footer{
    text-align: center;
  }

  footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(3 1fr);
    gap:10px;
    
  }

  footer > p {
    grid-area: 1 / 1 / 4 / 2
  }

  #trade{
    font-size: xx-small;
  }
  
  @media screen and (max-width:880px) {
    main {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows:repeat(9 1fr);
      place-items: center;
    }
   
    main>img{
      grid-row: 1;
      margin-left: 15px;
    }
    
    main>h1 {
      grid-row:2;
      grid-column:span 5;
      text-align: center;
    }
    .quote {
      font-size: 2rem;
      grid-column: span 5;
      grid-row: 3;
    }
    
    main>section {
      grid-row:4 / 9;
      display: grid;
    }
   
    article>img {
      width: 175px;
      border-radius: 50%;
      display:flex;
      justify-content: center;
      align-items: center;
    }
    
    article>p{
      text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        grid-template-columns: 1ft;
        grid-template-rows: repeat(5 1fr);
    }
 
  }
  
  