/*
Justin Jemison
DATE 29 Sep 2024

Sytle page for the SJ Farm house website. It will house the main styles for all pages in the website.
most HTML files will reference this CSS file for styling then reference their individual CSS for page specific content. THis style sheet asl has the 
google font that I will be using ".grown0-batang-regular and bold which are selected via the class in the HTML files. 
  Color pallet #D2E0FB, FEF9D9, DEE5D4, 8EACCD
*/
body {
  background-color:#D2E0FB;
  font-family: "Helvetica", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.gowun-batang-regular {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

.gowun-batang-bold {
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
}
nav {
  display: flex;
  height: 50px;
  background-color: rgb(155, 142, 156);
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

nav>a {
  place-content: center;
  padding: 5px;
}

.hidden {
  display: none;
}

input:invalid{
  background-color: blanchedalmond;
  border-radius: 5px;
  border-color: red;
  border-width: 2px;
}

input:valid {
  background-color: gainsboro;
  border-width: 0px;
}






